# dependencies
/node_modules
/.pnp
.pnp.js
.env

# testing
/coverage

# production
/build

.DS_Store

# ENV
.env.local
.env.development.local
.env.test.local
.env.production.local
.development.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# vscode
.vscode